.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.contacts__name {
  font-size: 15px;
  text-align: left;
  line-height: 30px;
  color: #444444;
}

.contacts__link {
  color: inherit;
  border-bottom: 1px solid #62d1ba;
  text-decoration: none;
}

.contacts__adress {
  font-size: 15px;
  text-align: left;
  line-height: 30px;
  color: #444444;
}

.contacts__adress-position {
  font-size: 15px;
  text-align: left;
  line-height: 30px;
  color: #444444;
  margin-right: 32px;
}

.contacts__map {
  margin-bottom: 45px;
}

.contacts_write {
  display: block;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 13px 6px;
  border: 2px solid;
  text-align: center;
  margin-bottom: 39px;
}
