.main-form {
  margin: 0 auto;
}

.main-form__text {
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #444444;
  margin: 0 30px;
}

.main-form__title {
  text-align: center;
  background-color: #f1f1f1;
  padding-top: 76px;
  padding-bottom: 80px;
  margin-top: 0;
}
