.page-header {
  min-height: 884px;
  border: 1px solid red;
  color: #000000;
  //border-bottom: 1px solid #ececec;
  //position: relative;
  //margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 833px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;
  }
}

.page-header__logo-wrapper {
  min-height: 79px;
  background-color: red;
  opacity: 0.3;
}

.page-header__logo {
  //margin-top: 22px;
  //margin-bottom: 22px;
  //margin-left: 116px;
  width: 86px;
  height: 35px;
  background-color: blue;
  opacity: 0.3;
  border: 1px solid blue;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 45px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    width: 149px;
    position: absolute;
    top: 6px;
    left: 525px;
    height: 72px;
  }
}

.page-header__logo-image {
  margin-top: 22px;
  margin-bottom: 22px;
}
