.page-footer {
  background-color: #f1f1f1;
  color: #000000;
  border-top: 1px solid #ececec;
  width: auto;
  margin: 0 auto;
  padding: 0 30px;
}

.page-footer__copyright {
  display: flex;
  lex-direction: row;
  justify-content: center;
  align-items: center;
}
