.social-list {
  list-style: none;
  border-bottom: 1px solid #ececec;
  padding: 0;
  display: flex;
  width: 260px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}
